body {
    background: #E5E5E5;
    margin: 0;
    padding: 0;
}
.item-1 {
    height: 252px;
    width: 232px;
    background: #FFFFFF;
    border-radius: 8px;
}
.item-2 {
    width: 232px;
    height: 152px;
    background: #C4C4C4;
    border-radius: 8px;
    display: flex;
}
.item-3 {
    width: 72px;
    height: 24px;
    background: #FFA800;
    margin: 10px 150px 118px 10px;
}

.text {
   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
}
.text-2 {
    width: 240px;
    height: 20px;
    font-stretch: condensed;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: stretch;
    color: #000000;
    margin-top: 145px;
    
}
.text-3{
    width: 201px;
    height: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    color: #444444;    
    padding-top: 8px;
}
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}